body{
	background-color: #BA8573;
	min-width: 900px;
}

header {
	background-color: orange;
	border:5px solid;
	text-align:center;

}

.input {

	text-align: center;
	padding: 20px;
	border-bottom: 2px solid #95a5a6;
	background-color: #E3896B;
}

#newtext{
	width: 400px;
	height: 30px;
	
}

.add{
	margin-left:10px;
	height: 35px;
	width: 35px;
	background-color: green;
	font-size:20px;
}

.list
{

	display: block;
}

.list h2{
	text-align: center;

}

li{
	text-align: center;
	display: block;
	font-size: 25px
}

.done{
	
   height: 30px;
   font-size: 20px;
   vertical-align: middle;
   
}

.delete{
	margin-left: 5px;
  vertical-align: middle;

}

























